// Brand color
$brand-100: #202B63;
$brand-90:  #243784;
$brand-80:  #253BA8;
$brand-70:  #2748CE;
$brand-60:  #2F5BE1;
$brand-50:  #4579EC;
$brand-40:  #689DF2;
$brand-30:  #98BFF8;
$brand-20:  #C2D7FB;
$brand-10:  #DDE8FC;

// Red
$red-10:  #F4DAD8;
$red-20:  #DD928F;
$red-30:  #B8484D;
$red-40:  #813038;
$red-50:  #3D1419;

// Yellow 
$yellow-10:  #FBF9EB;
$yellow-20:  #EDE29B;
$yellow-30:  #D9B736;
$yellow-40:  #AE7F20;
$yellow-50:  #744B1F;

// Green
$green-10:  #D7F1D5;
$green-20:  #AFE3AB;
$green-30:  #7CD175;
$green-40:  #42AC39;
$green-50:  #32822B;

// Gray (Neutral)
$gray-100: #34394F;
$gray-90:  #434A65;
$gray-80:  #545A79;
$gray-70:  #686F8D;
$gray-60:  #798097;
$gray-50:  #8B93A6;
$gray-40:  #A5ABB5;
$gray-30:  #C4C7CC;
$gray-20:  #DDDEE0;
$gray-10:  #EDEDED;

// Background
$background: #F1F5FE;
$form-background: #FFFFFF;