@import "_color.scss";
@import "_font.scss";
@import "_spacing.scss";

//------------ Breakpoint -------------------
$sm: 600px;
$lg: 1024px;

@mixin sm {
    @media (max-width: $sm){
        @content;
    }
}

@mixin lg {
    @media (max-width: $lg){
        @content;
    }
}

//------------ Label | Normal Label -------------------
.label{
    display: inline-block;
    align-items: center;
    @include title-3;
    @include sm {
        @include body-2;
    }
}
// ------------ Label | Upload Label -------------------
.label_wrapper{
    .label_txt{
        display: inline-block;
        @include title-3;
        @include bottom_spacing(4px);
    }
    .supportxt{
        display: none;
        @include body-2;
    }
    &[data-supportxt="true"]{
        .supportxt{
            color: $gray-60;
            display: block;
        }
    }
}
// ------------ Label | Confirm Label -------------------
.confirm_label_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    .confirm_label_flex{
        display: inline;
        .confirm_label{
            @include body-2;
            align-items: center;
            color: $gray-60;;
        }
        &[data-edit="true"]{
            .edit_btn{
                display: block;
            }
        }
    }
}   
//------------ Input -------------------
.input-wrapper{
    flex: 1;
    .input-box {
        position: relative;
        input[type='text'],
        input[type='email'],
        input[type='password'],
        input[type='number'],
        input[type='tel'] {
            border: 1px solid $gray-30;
            appearance: none;
            width: 100%;
            height: 44px;
            border-radius: 8px;
            padding:4px 12px;
            color: $gray-90;
            background-color: white;
            cursor: text;
            &::placeholder {
                color: $gray-30;
            }
            &:hover {
                background-color: rgba($brand-10,0.2);
                border-color: $brand-60;
            }
            &:focus {
                border: 1px solid $brand-50;
                outline: none;
                box-shadow: 0 0 0 4px rgba($brand-10, 0.8);
                background-color: $form-background;
            }
            &:disabled {
                border-color: $gray-30;
                box-shadow: none;
                background: $gray-10;
                color: $gray-50;
                cursor: not-allowed;
            }
        }
        input.error {
            border: 1px solid $red-30;
            background-color: rgba($red-30, 0.05);
            .input-icon {
                display: block;
            }
        }
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            pointer-events: none;
            background: url("/img/icon-alert.svg") no-repeat center;
            background-size: contain;
            display: none;
        }
        // &.error {
        //     input {
        //         border: 1px solid $red-30;
        //         background-color: rgba($red-30, 0.05);
        //     }
        // }
    }
    @include sm {
        @include body-2;
        .input-box {
            height: 40px;
            input[type='text'],
            input[type='email'],
            input[type='password'],
            input[type='number'],
            input[type='tel'] {
                height: 40px;
            }
        }
    }
}

#contact-address[data-disabled="true"] {
    .input-box input:disabled {
        background-color: $gray-10;
        color: $gray-50;
        cursor: not-allowed;
        border-color: $gray-30;
        box-shadow: none;
    }
}
.error-message {
    font-size: 14px;
    margin: 4px 0 0 8px;
    color: $red-30;
    display: none;
    .input-box.error + & {
        display: block;
    }
}
//------------ Checkbox -------------------
.custom-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    @include bottom_spacing(4px);
    @include sm {
        @include body-2;
    }
    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
    }

    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 28px;
        min-height: 20px;
        color: $gray-90;
        &:hover{
            color: $brand-60;
        }
        &:before {
            content: '';
            position: absolute;
            left: 2px;
            width: 20px;
            height: 20px;
            border: 1px solid $gray-30;
            border-radius: 4px;
            background-color: $form-background;
            transition: all 0.2s ease;
        }
    }

    // Checked
    input[type="checkbox"]:checked + label {
        &:before {
            background-color: $brand-60;
            border-color: $brand-60;
        }
        &:after {
            content: '';
            background: url(/img/icon_checkbox.svg) no-repeat center;
            width: 16px;
            height: 16px;
            position: absolute;
            left: 4px;
            top: 4px;
            color: $form-background;
        }
    }

    // Setting Label Color
    input[type="checkbox"]:focus-visible + label,
    input[type="checkbox"]:checked + label {
        color: $brand-60;
    }

    // Checked Press
    input[type="checkbox"]:checked:active + label:before {
        background-color: $brand-80;
        border-color: $brand-80;
    }

    // Hover
    input[type="checkbox"]:not(:checked) + label:hover:before {
        border-color: $brand-60;
        background-color: rgba($brand-10,0.4);
    }

    // Active / Press
    input[type="checkbox"]:not(:checked):active + label:before {
        border-color: $brand-80;
        background: $brand-80;
    }

    // Focus 
    input[type="checkbox"]:focus + label:before {
        box-shadow: 0 0 0 3px $brand-10;
    }
    // Disable
    input[type="checkbox"]:disabled + label {
        cursor: not-allowed;
        color: $gray-40;
    }

    input[type="checkbox"]:disabled + label:before {
        background-color: $gray-10;
        border-color: $gray-30;
    }
      
    input[type="checkbox"]:disabled + label:hover:before,
    input[type="checkbox"]:disabled + label:active:before {
        background-color: $gray-10;
        border-color: $gray-30;
    }
}

.checkbox_conditional{
    background-color: rgba($brand-10,0.2);
    border: 1px solid $brand-20;
    border-radius: 8px;
    padding: 6px;
    display: none;
    .conditional_flex{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 4px;
        height: auto;
        align-items: flex-end;
        @include sm{
            flex-direction: column;
            align-items: stretch;
            width: 100%;
        }
    }
}

.cond:has(input:checked) .checkbox_conditional {
    display: block;
}

//------------ Radio -------------------
.radio-wrapper{
    flex: 1;
    .radio-box {
        position: relative;
        display: flex;
        align-items: center;
        @include bottom_spacing(4px);
    }
}

.custom-radio {
    position: relative;
    display: flex;
    align-items: center;
    @include bottom_spacing(4px);
    
    input[type="radio"] {
        opacity: 0;
        position: absolute;
    }

    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 28px;
        min-height: 20px;
        color: $gray-90;
        &:hover{
            color: $brand-60;
        }
        &:before {
            content: '';
            position: absolute;
            left: 2px;
            width: 20px;
            height: 20px;
            border: 1px solid $gray-30;
            border-radius: 50%;
            background-color: $form-background;
            transition: all 0.2s ease;
        }
        @include sm {
            @include body-2;
        }
    }

    // Checked
    input[type="radio"]:checked + label {
        &:before {
            background-color: $brand-60;
            border-color: $brand-60;
        }
        &:after {
            content: '';
            background: url(/img/icon_radio-ellipse.svg) no-repeat center;
            width: 16px;
            height: 16px;
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $form-background;
        }
    }

    // Setting Label Color
    input[type="radio"]:focus-visible + label,
    input[type="radio"]:checked + label {
        color: $brand-60;
    }

    // Hover
    input[type="radio"]:not(:checked) + label:hover:before {
        border-color: $brand-60;
        background-color: rgba($brand-10,0.4);
    }

    // Focus 
    input[type="radio"]:focus + label:before {
        box-shadow: 0 0 0 3px $brand-10;
    }
    // Disable
    input[type="radio"]:disabled + label {
        cursor: not-allowed;
        color: $gray-40;
    }

    input[type="radio"]:disabled + label:before {
        background-color: $gray-10;
        border-color: $gray-30;
    }
      
    input[type="radio"]:disabled + label:hover:before,
    input[type="radio"]:disabled + label:active:before {
        background: $gray-10;
        border-color: $gray-30;
    }
}

.radio_conditional{
    background-color: rgba($brand-10,0.2);
    border: 1px solid $brand-20;
    border-radius: 6px;
    padding: 6px;
    @include bottom_spacing(4px);
    display: none;
}

.cond:has(input:checked) .radio_conditional {
    display: block;
}
//------------ Dropdown -------------------
.dropdown-wrapper{
    flex: 1;
    .dropdown-box {
        position: relative;
        border: 1px solid $gray-30;
        border-radius: 8px;
        cursor: pointer;
        background: white;
        height: 44px;
        &:hover {
            background-color: rgba($brand-10,0.2);
            border-color: $brand-60;
        }
        &:focus {
            border: 1px solid $brand-60;
            outline: none;
            box-shadow: 0 0 0 4px rgba($brand-10, 0.8);
            background-color: $form-background;
        }
        &::after {
            content: "";
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: url("/img/arrow_down.svg") no-repeat center;
            background-size: contain;
            pointer-events: none;
        }
        // Placeholder
        .selected-option {
            padding: 4px 12px;
            color: $gray-30;
            height: 44px;
            display: flex;
            align-items: center; 
            cursor: pointer;
            &.filled {
                color: $gray-90;
            }
        }
        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;
            width: 100%;
            background: white;
            border: 1px solid $gray-20;
            border-radius: 8px;
            margin-top: 4px;
            padding: 4px 4px 4px 0;
            max-height: 200px;
            overflow-y: auto;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            li { 
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 12px;
                margin: 0 4px;
                border-radius: 6px;
                cursor: pointer;
                .check-icon {
                    display: none;
                    font-size: 16px;
                    margin-left: 8px;
                    color: $brand-60;
                    width: 20px;
                    height: 20px;
                    background: url(/img/icon_check-opt.svg) repeat center;
                }
                &:hover {
                    background: $background;
                }
                &.selected {
                    background: $brand-10;
                    color: $brand-60;
                    .check-icon {
                        display: inline;
                    }
                }
                &[aria-disabled="true"] {
                    color: $gray-10;
                    pointer-events: none;
                }
            }
        }
        &.open .dropdown-menu {
            display: block;
        }
        @include sm {
            @include body-2;
            height: 40px;
            .selected-option {
                height: 40px;
            }
        }
    }    
}
#contact-address[data-disabled="true"] {
    .dropdown-box {
        pointer-events: none;  // 不能再點
        cursor: not-allowed;
        background: $gray-10;
        border-color: $gray-30;
    }
}
//------------ Button | Upper & Next Step -------------------
.btn_container{
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 40px 32px 40px;
    @include lg{
        width: 100%;
    }
    
    @include sm{
        width: 100%;
        padding: 20px 0 32px 0;
        gap: 12px;
    }

    .upper_btn{
        max-width: 200px;
        flex: 1;
        height: 44px;
        border-radius: 8px;
        background: $form-background;
        padding: 8px 16px;
        color: $gray-90;
        border: 1px solid $brand-10;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            background: rgba($brand-10, 0.5);
            border: 1px solid $brand-30;
        }
        &:active{
            background: rgba($brand-20, 0.5);
        }
        &:disabled{
            background: $gray-10;
            color: $gray-40;
            cursor: not-allowed;
        }
    }

    .next_btn{
        max-width: 200px;
        flex: 1;
        height: 44px;
        border-radius: 8px;
        background: $brand-60;
        padding: 8px 16px;
        color: $form-background;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            background: $brand-70;
        }
        &:active{
            background: $brand-80;
        }
        &:disabled{
            background: $gray-10;
            color: $gray-40;
            cursor: not-allowed;
        }
    }
}
//------------ Button | Uploading Button -------------------
.btn-uploading-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    .btn-progress-cancel{
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 99px;
        background-color: $gray-10;
        &::after{
            content: " ";
            position: absolute;
            right: 7px;
            top: 8px;
            width: 10px;
            height: 10px;
            background: url(/img/icon_cancel.svg) no-repeat center/contain;
        }
        &:hover {
            background-color: $gray-20;
        }
    }
}

//------------ Button | Uploading Error & Idle Button -------------------
@mixin btn_normal_withicon($url){
    min-width: 120px;
    height: 40px;
    border-radius: 99rem;
    padding: 8px 16px 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include body-1;
    &::before{
        content: "";
        width: 16px;
        height: 16px;
        margin: 4px 8px 4px 0;
        display: block;
        background-color: currentColor;
        -webkit-mask: url($url) no-repeat center;
                mask: url($url) no-repeat center;
    }
    @include sm {
        @include body-2;
        min-width: 80px;
        height: 36px;
        padding: 8px 16px;
        &::before{
            width: 0px;
            height: 0px;
            margin: 0;
            -webkit-mask: url() no-repeat center;
                    mask: url() no-repeat center;
        }
    }
}

.btn-error-wrapper, .btn-idle-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    .btn-retry{
        @include btn_normal_withicon("/img/arrow.clockwise.svg");
        border: 1px solid $red-30;
        color: $red-30;
        &:hover {
            background-color:  rgba($red-10, 0.5);
        }
        &:active {
            background-color: $red-10;
        }
        &:disabled {
            background: $gray-10;
            color: $gray-40;
            cursor: not-allowed;
        }
    }
    .btn-upload{
        @include btn_normal_withicon("/img/icon_upload.svg");
        background: $brand-60;
        color: $form-background;
        &:hover {
            background-color: $brand-70;
        }
        &:active {
            background-color: $brand-80;
        }
        &:disabled {
            background: $gray-10;
            color: $gray-40;
            cursor: not-allowed;
        }
    }
}

//------------ Button | Uploading Success Button -------------------
@mixin btn_icon{
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%; 
    color: $gray-60;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background: $gray-20;
        color: $gray-80;
    }
}

@mixin icon_mask($url, $size: 16px) {
    position: relative;
    &::before {
        content: "";
        display: block;
        width: $size;
        height: $size;
        background-color: currentColor;

        -webkit-mask-image: url($url);
                mask-image: url($url);
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
        -webkit-mask-position: center;
                mask-position: center;
        -webkit-mask-size: $size $size;
                mask-size: $size $size;
    }
}

.btn-success-wrapper{
    display: flex;
    align-items: center;
    .btn_success-review{
        @include btn_icon;
        @include icon_mask("/img/icon_review.svg");
    }
    
    .btn_success-delete{
        @include btn_icon;
        @include icon_mask("/img/icon_delete.svg");
    }
    
    .btn_success-upload{
        @include btn_icon;
        @include icon_mask("/img/icon_upload.svg");
    }
}

//------------ Button | Confirm Edit Button ------------
@mixin btn_normal{
    min-width: 80px;
    height: 36px;
    border-radius: 99px;
    padding: 6px 16px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    @include lg {
        @include body-2;
        height: 36px;
    }
    @include sm{
        @include body-2;
        height: 36px;
        padding: 8px 16px;
    }
}

.edit_btn{
    @include btn_normal;
    border: 1px solid $gray-30;
    background: $form-background;
    color: $gray-90;
    display: none;
    &:hover {
        background-color:  $gray-10;
    }
    &:active {
        background-color: $gray-20;
    }
    &:disabled {
        background: $form-background;
        color: $gray-30;
        border: 1px solid $gray-30;
        cursor: not-allowed;
    }
}

//------------ Tag -------------------
.req_tag{
    background: $gray-10;
    color: $gray-70;
    padding: 2px 8px;
    margin-left: 4px;
    border-radius: 99rem;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    font-weight: $weight-regular;   // 400
    font-size: $body-2;   // 14 px
    gap: 4px;
    &[data-check="true"] {
        background: $green-10;
        color: $green-50;
        &::before{
            content: "";
            width: 10px;
            height: 10px;
            background: url(/img/icon_checkmark.svg) no-repeat center/contain;
        }
    }
    &[data-check="alert"] {
        background: $red-10;
        color: $red-30;
    }
}

//------------ Upload State -------------------
.upload-state{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 0;
    @include bottom_spacing(16px);
    
    .upload-img{
        width: 48px;
        height: 48px;
        border-radius: 8px;
        flex-shrink: 0;
    }
    .upload_test{
        flex: 1;
    }
    .upload_info{
        display: flex;
        justify-content: space-between;
        gap: 4px;
        .file-title{
            display: flex;
            flex-wrap: wrap;
            align-items: end;
            gap: 4px;
            .file-name{
                @include body-1;
                color: $gray-80;
            }
            .file-size{
                @include body-2;
                color: $gray-80;            
            }
        }
        .state-text{
            @include body-2;
        }
    }
    
    .progress{
        height: 6px;
        background: $brand-10;
        border-radius: 99px;
        overflow: hidden;
        margin: 8px 0;
        flex: 1;
    }
  
    // Uploading State
    &[data-status="uploading"] {
        .upload-img{ 
            background: url(/img/img_upload_uploading.svg) center no-repeat;
        }
        .state-text{
            color: $brand-60; 
            &::before{ 
                content: "上傳中";
            }
        }
        .btn-uploading-wrapper{
            .progress-info{
                color: $brand-60; 
            }
        }
        .progress{
            display: block;
            .progress-fill{
                background: $brand-60;
                border-radius: 99px;
                width: 0%;
                height: 6px;
                transition: width 0.3s ease;
            }
        }
        .btn-error-wrapper, .btn-success-wrapper,.btn-idle-wrapper{
            display: none;
        }
        
    }

    // Success State
    &[data-status="success"] {
        .upload-img{
            background: url(/img/img_upload_success.svg) center no-repeat;
        }
        .state-text{
            color: $green-50;
            &::before{ 
                content: "上傳成功";
            }
        }
        .btn-uploading-wrapper, .btn-error-wrapper,.btn-idle-wrapper{
            display: none;
        }
        .progress {
            display:none;
        }
    }
    // Error State
    &[data-status="error"] {
        .upload-img{
            background: url(/img/img_upload_error.svg) center no-repeat;
        }
        .state-text{
            color:$red-30;
            &::before{ 
                content: "上傳失敗：檔案大小超過 10MB";
            }
        }
        .btn-uploading-wrapper, .btn-success-wrapper,.btn-idle-wrapper{
            display: none;
        }
        .progress{
            display:none;
        }
    }
    // Idle State
    &[data-status="idle"] {
        .upload-img{
            background: url(/img/img_upload_idle.svg) center no-repeat;
        }
        .upload_info{
            align-items: center;
            .file-size, .file-name{
                display: none;
                @include title-3;
                color: $gray-70;
            }
            .state-text{
                color: $gray-50;
                height: auto;
                &::before{ 
                    content: "尚未上傳資料";
                }
            }
        }
        .btn-uploading-wrapper, .btn-error-wrapper, .btn-success-wrapper{
            display: none;
        }
        .progress{
            display: none;
        }
    }
    @include sm{
        gap: 8px;
        .upload-img{
            width: 36px;
            height: 36px;
        }
        .file-name{
            @include title-4;
            color: $gray-80;
        }
    }
}

//------------ Modal -------------------
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($gray-100, 0.7);;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    border-radius: 20px;
    padding: 40px 20px 20px 20px;
    width: 400px;
    height: 250px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 99;
    background: linear-gradient(
        to bottom,
        $brand-20 0%,
        $form-background 40%
    );
    background-color: $form-background;
    .gif_trashbin{
        --gif-url: url('/img/modal_trashbin_back.gif');
        background: 
            var(--gif-url) no-repeat center,
            url(/img/modal_trash_shadow.svg) no-repeat 50% 100%;
        background-size: 90% auto, 60% auto;
        width: 240px;
        position: absolute;
        aspect-ratio: 1 / 1;
        top: -62%;
        left: 20%;
        &::before{
            content: '';
            position: absolute;
            top: 16%;
            left: 19%;
            width: 62%;
            height: 100%;
            background: url(/img/modal_trashbin_front.png) no-repeat center;
            background-size: contain;
        }
    }
    .img_outer_trashball{
        background: url(/img/modal_outer_trashball.svg) no-repeat center;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 15%;
        left: 60%;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .modal_info_wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            .title {
                color: $gray-100;
                @include title-3;
            }
            .content{
                color: $gray-80;
                @include body-2;
                align-items: center;
            }
        }
        .modal_btn-wrapper {
            display: flex;
            justify-content: space-around;
            gap: 12px;
            .btn-cancel {
                @include btn_normal;
                flex: 1;
                border: 1px solid $gray-30;
                background: $form-background;
                color: $gray-90;
                &:hover {
                    background-color:  $gray-10;
                }
                &:active {
                    background-color: $gray-20;
                }
                &:disabled {
                    background: $form-background;
                    color: $gray-30;
                    border: 1px solid $gray-30;
                    cursor: not-allowed;
                }
            }
            .btn-delete{
                @include btn_normal;
                flex: 1;
                background: rgba($red-30,0.95);
                color: $form-background;
                &:hover {
                    background-color:  $red-30;
                }
                &:active {
                    background-color: $red-40;
                }
                &:disabled {
                    background: $gray-10;
                    color: $gray-40;
                    cursor: not-allowed;
                }
            }
        }
    }
}

/* 開啟狀態 */
.modal-overlay.is-open,
.modal.is-open {
    opacity: 1;
    visibility: visible;
}

.modal.is-open {
    transform: translate(-50%, -50%) scale(1);
}
