@import "_color.scss";
@import "_font.scss";
@import "_spacing.scss";


//------------ Label -------------------
.label-box{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    @include bottom_spacing(4px);
}
//------------ Input -------------------
.input-wrapper{
    flex: 1;
    .input-box {
        position: relative;
        input[type='text'],
        input[type='email'],
        input[type='password'],
        input[type='number'],
        input[type='tel'] {
            border: 1px solid $gray-30;
            appearance: none;
            width: 100%;
            height: 44px;
            border-radius: 8px;
            padding: 10px 16px;
            color: $gray-90;
            background-color: white;
            cursor: pointer;
    
            &::placeholder {
                color: $gray-30;
            }
            &:hover {
                background-color: rgba($brand-10,0.2);
                border-color: $brand-60;
            }
            &:focus {
                border: 1px solid $brand-50;
                outline: none;
                box-shadow: 0 0 0 4px rgba($brand-10, 0.8);
                background-color: $form-background;
            }
            &:disabled {
                background-color: $gray-10;
                color: $gray-50;
                cursor: not-allowed;
            }
        }
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            pointer-events: none;
            background: url("/img/icon-alert.svg") no-repeat center;
            background-size: contain;
            display: none;
        }
        &.error {
            input {
                border: 1px solid $red-30;
                background-color: rgba($red-30, 0.05);
            }
            .input-icon {
                display: block;
            }
        }
    }
}
.error-message {
    font-size: 14px;
    margin-top: 4px;
    color: $red-30;
    display: none;
    .input-box.error + & {
        display: block;
    }
}
//------------ Checkbox -------------------
.custom-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    @include bottom_spacing(4px);
    
    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
    }

    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 28px;
        min-height: 20px;
        color: $gray-90;
        &:hover{
            color: $brand-60;
        }
        &:before {
            content: '';
            position: absolute;
            left: 2px;
            width: 20px;
            height: 20px;
            border: 1px solid $gray-30;
            border-radius: 4px;
            background-color: $form-background;
            transition: all 0.2s ease;
        }
    }

    // Checked
    input[type="checkbox"]:checked + label {
        &:before {
            background-color: $brand-60;
            border-color: $brand-60;
        }
        &:after {
            content: '';
            background: url(/img/icon_checkbox.svg) no-repeat center;
            width: 16px;
            height: 16px;
            position: absolute;
            left: 4px;
            top: 4px;
            color: $form-background;
        }
    }

    // Setting Label Color
    input[type="checkbox"]:focus-visible + label,
    input[type="checkbox"]:checked + label {
        color: $brand-60;
    }

    // Checked Press
    input[type="checkbox"]:checked:active + label:before {
        background-color: $brand-80;
        border-color: $brand-80;
    }

    // Hover
    input[type="checkbox"]:not(:checked) + label:hover:before {
        border-color: $brand-60;
        background-color: rgba($brand-10,0.4);
    }

    // Active / Press
    input[type="checkbox"]:not(:checked):active + label:before {
        border-color: $brand-80;
        background: $brand-80;
    }

    // Focus 
    input[type="checkbox"]:focus + label:before {
        box-shadow: 0 0 0 3px $brand-10;
    }
    // Disable
    input[type="checkbox"]:disabled + label {
        cursor: not-allowed;
        color: $gray-40;
    }

    input[type="checkbox"]:disabled + label:before {
        background-color: $gray-10;
        border-color: $gray-30;
    }
      
    input[type="checkbox"]:disabled + label:hover:before,
    input[type="checkbox"]:disabled + label:active:before {
        background-color: $gray-10;
        border-color: $gray-30;
    }
}

.checkbox_conditional{
    background-color: rgba($brand-10,0.2);
    border: 1px solid $brand-20;
    border-radius: 6px;
    padding: 6px;
    @include bottom_spacing(4px);
    display: none;
}

.cond:has(input:checked) .checkbox_conditional {
    display: block;
}

//------------ Radio -------------------
.radio-wrapper{
    flex: 1;
    .radio-box {
        position: relative;
        display: flex;
        align-items: center;
        @include bottom_spacing(4px);
    }
}

.custom-radio {
    position: relative;
    display: flex;
    align-items: center;
    @include bottom_spacing(4px);
    
    input[type="radio"] {
        opacity: 0;
        position: absolute;
    }

    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 28px;
        min-height: 20px;
        color: $gray-90;
        &:hover{
            color: $brand-60;
        }
        &:before {
            content: '';
            position: absolute;
            left: 2px;
            width: 20px;
            height: 20px;
            border: 1px solid $gray-30;
            border-radius: 50%;
            background-color: $form-background;
            transition: all 0.2s ease;
        }
    }

     // Checked
     input[type="radio"]:checked + label {
        &:before {
            background-color: $brand-60;
            border-color: $brand-60;
        }
        &:after {
            content: '';
            background: url(/img/icon_radio-ellipse.svg) no-repeat center;
            width: 16px;
            height: 16px;
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $form-background;
        }
    }

    // Setting Label Color
    input[type="radio"]:focus-visible + label,
    input[type="radio"]:checked + label {
        color: $brand-60;
    }

    // Hover
    input[type="radio"]:not(:checked) + label:hover:before {
        border-color: $brand-60;
        background-color: rgba($brand-10,0.4);
    }

    // Focus 
    input[type="radio"]:focus + label:before {
        box-shadow: 0 0 0 3px $brand-10;
    }
    // Disable
    input[type="radio"]:disabled + label {
        cursor: not-allowed;
        color: $gray-40;
    }

    input[type="radio"]:disabled + label:before {
        background-color: $gray-10;
        border-color: $gray-30;
    }
      
    input[type="radio"]:disabled + label:hover:before,
    input[type="radio"]:disabled + label:active:before {
        background-color: $gray-10;
        border-color: $gray-30;
    }
}

.radio_conditional{
    background-color: rgba($brand-10,0.2);
    border: 1px solid $brand-20;
    border-radius: 6px;
    padding: 6px;
    @include bottom_spacing(4px);
    display: none;
}

.cond:has(input:checked) .radio_conditional {
    display: block;
}
//------------ Dropdown -------------------
.dropdown-wrapper{
    flex: 1;
    .dropdown-box {
        position: relative;
        border: 1px solid $gray-30;
        border-radius: 8px;
        cursor: pointer;
        background: white;
        height: 44px;
        &:hover {
            background-color: rgba($brand-10,0.2);
            border-color: $brand-60;
        }
        &:focus {
            border: 1px solid $brand-60;
            outline: none;
            box-shadow: 0 0 0 4px rgba($brand-10, 0.8);
            background-color: $form-background;
        }
        &::after {
            content: "";
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: url("/img/arrow_down.svg") no-repeat center;
            background-size: contain;
            pointer-events: none;
        }
        // Placeholder
        .selected-option {
            padding: 4px 12px;
            color: $gray-30;
            height: 44px;
            display: flex;
            align-items: center; 
            &.filled {
                color: $gray-90;
            }
        }
        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;
            width: 100%;
            background: white;
            border: 1px solid $gray-20;
            border-radius: 8px;
            margin-top: 4px;
            padding: 4px 0;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            li { 
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 12px;
                margin: 0 4px;
                border-radius: 6px;
                cursor: pointer;
                .check-icon {
                    display: none;
                    font-size: 16px;
                    margin-left: 8px;
                    color: $brand-60;
                    width: 20px;
                    height: 20px;
                    background: url(/img/icon_check-opt.svg) repeat center;
                }
                &:hover {
                    background: $background;
                }
                &.selected {
                    background: $brand-10;
                    color: $brand-60;
                    .check-icon {
                        display: inline;
                    }
                }
                &[aria-disabled="true"] {
                    color: $gray-20;
                    pointer-events: none;
                }
            }
        }
        &.open .dropdown-menu {
            display: block;
        }
    }    
}

//------------ Button -------------------