@import "_reset.scss";
@import "_color.scss";
@import "_font.scss";
@import "_component.scss";
@import "_spacing.scss";

body{
    background: 
        radial-gradient(circle at 80% 50%, rgba($brand-30, $alpha: 0.7) 0%, transparent 70%),
        radial-gradient(circle at 10% 10%, rgba(white, $alpha: 0.4) 0%, transparent 70%),
        url('/img/bg_subtitle.svg') no-repeat 80% 8% / 450px auto;
        background-color: $background;
    
    @include lg{
        background: 
        radial-gradient(circle at 80% 50%, rgba($brand-30, $alpha: 0.7) 0%, transparent 70%),
        radial-gradient(circle at 10% 10%, rgba(white, $alpha: 0.4) 0%, transparent 70%),
        url('/img/bg_subtitle.svg') no-repeat 100% 5% / 350px auto;
        background-color: $background;
    }
    @include sm{
        background: 
        radial-gradient(circle at 80% 40%, rgba($brand-30, $alpha: 0.7) 0%, transparent 70%),
        radial-gradient(circle at 10% 10%, rgba(white, $alpha: 0.4) 0%, transparent 70%),
        url('/img/bg_subtitle.svg') no-repeat 100% 12% / 200px auto;
        background-color: $background;
    }
}

.cover_content{
    width: calc(80% - 40px);
    margin: 0 auto;
    height: 48vh;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    .cover_title_wrapper {
        width: 40%;
        .sem_tag{
            @include heading-2-bold;
            width: fit-content;
            background: rgba($brand-30, 0.3);
            height: 52px;
            color: $brand-100;
            padding: 4px 20px 4px 20px;
            border-radius: 99rem 99rem 99rem 20rem;
        }
        .title{
            @include heading-1-bold;
            color: $gray-90;
        }
    }
    @include lg{
        width: 90%;
        height: 40vh;
        .cover_title_wrapper{
            width: 40%;
            .sem_tag{
                @include title-1;
                height: 44px;
            }
            .title{
                @include heading-2-bold;
            }
        }
    }
    @include sm{
        max-width: 90%;
        height: 25vh;
        .cover_title_wrapper{
            width: 50%;
            .sem_tag{
                @include title-3;
                height: 32px;
                padding: 4px 12px 4px 12px;
            }
            .title{
                @include title-2;
            }
        }
    }
    .cover_img{
        position: absolute;
        width: clamp(220px, 28vw, 420px);
        height: 100%;
        top: 10%;
        right: 10%;
        perspective: 800px;
        transform-style: preserve-3d;
        transition: transform 0.3s ease-out;
        background: url('/img/cover_img_form.svg') no-repeat center / contain;
        @include lg{
            width: 40%;
            top: 10%;
            right: 0;
        }
    }
    .img_cursor{
        position: absolute;
        top: 75%;
        left: 80%;
        transform: translate(-50%, -50%) translateZ(30px) rotateX(10deg);
        width: 2rem;
        height: 2rem;
        background: url('/img/cover_img_cursor.svg') no-repeat center / contain;
        @include lg{
            top: 70%;
        }
        @include sm{
            width: 1rem;
            height: 1rem;
        }
    }
    .img_file{
        position: absolute;
        top: 47%;
        left: 5%;
        transform: translate(-50%, -50%) translateZ(30px);
        width: 3.5rem;
        height: 3.5rem;
        background: url('/img/cover_img_file.svg') no-repeat center / contain;
        @include sm{
            width: 2rem;
            height: 2rem;
        }
    }
    .img_pen{
        position: absolute;
        top: 45%;
        left: 87%;
        transform: translate(-50%, -50%) translateZ(30px);
        width: 3.5rem;
        height: 3.5rem;
        background: url('/img/cover_img_pen.svg') no-repeat center / contain;
        @include sm{
            width: 2rem;
            height: 2rem;
        }
    }
}

.form_container{
    background: $form-background;
    width: 80%;
    margin: 0 auto;
    height: auto;
    border-radius: 20px;
    align-items: center;
    color: $gray-90;
    padding: 40px;
    .field_flex{
        display: flex;
        width: 100%;
        gap: 4px;
        height: auto;
        align-items: flex-end;
        .average_flex{
            flex: 1;
        }
    }
    @include lg {
        width: 100%;
    }
    @include sm {
        padding: 16px;
    }
}

.background_container{
    height: 40px;
    background: radial-gradient(circle at 80% 10%, rgba($brand-30, $alpha: 0.7) 0%, transparent 70%);
}